public/documentos/titanium_lead_kommo_workflow_v3.json
{
  "name": "Titanium - Lead para Kommo v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "titanium-lead-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-001",
      "name": "Webhook Recebe Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "titanium-lead-create"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst rawPhone = (body.phone || '').replace(/\\D/g, '');\nconst phone = rawPhone.startsWith('55') ? '+' + rawPhone : '+55' + rawPhone;\n\nconst creditRaw = String(body.credit || '0').replace(/\\D/g, '');\nconst creditValue = parseInt(creditRaw) || 0;\n\nconst leadName = 'Lead - ' + (body.segment || 'Geral') + ' | ' + (body.lp || body.utm_source || 'site');\n\nconst tags = [];\nif (body.lp) tags.push({ name: body.lp });\nif (body.utm_source) tags.push({ name: body.utm_source });\nif (body.utm_campaign) tags.push({ name: body.utm_campaign });\n\nconst nota = [\n  '📋 Lead do formulário',\n  'Nome: ' + (body.name || '-'),\n  'Email: ' + (body.email || '-'),\n  'Telefone: ' + phone,\n  'Segmento: ' + (body.segment || '-'),\n  'Crédito: R$ ' + creditValue.toLocaleString('pt-BR'),\n  'Prazo: ' + (body.months || '-') + ' meses',\n  'Plano: ' + (body.plan || '-'),\n  'LP: ' + (body.lp || '-'),\n  'UTM Source: ' + (body.utm_source || '-'),\n  'UTM Campaign: ' + (body.utm_campaign || '-'),\n  'Ref: ' + (body.ref || '-'),\n  'Data: ' + new Date().toLocaleString('pt-BR')\n].join('\\n');\n\n// Payload Kommo como string JSON pronta para envio\nconst kommoPayload = JSON.stringify([\n  {\n    name: leadName,\n    price: creditValue,\n    pipeline_id: 13995439,\n    _embedded: {\n      contacts: [\n        {\n          name: body.name || 'Lead sem nome',\n          custom_fields_values: [\n            { field_code: 'PHONE', values: [{ value: phone, enum_code: 'WORK' }] },\n            { field_code: 'EMAIL', values: [{ value: body.email || '', enum_code: 'WORK' }] }\n          ]\n        }\n      ],\n      tags: tags\n    }\n  }\n]);\n\nreturn [{\n  json: {\n    leadName,\n    contactName: body.name || 'Lead sem nome',\n    phone,\n    email: body.email || '',\n    creditValue,\n    nota,\n    ref: body.ref || '',\n    kommoPayload\n  }\n}];"
      },
      "id": "node-code-001",
      "name": "Formata Payload Kommo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://titaniumconsultoriaofc.kommo.com/api/v4/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImMwOWEwZGYwODgzNTk5YjMwZGZmZTc5NGZlYWM1ZjFhMzk4ZmFkZTRhNzY0ZjMyMWIyZTJlMDdlZmNiM2RiMzgyMDk5M2U5YmE2NjhmM2I5In0.eyJhdWQiOiI4N2RmNTIzZC00Y2E5LTQyNWEtODBlMS05YzllNzQ0MjgxMzUiLCJqdGkiOiJjMDlhMGRmMDg4MzU5OWIzMGRmZmU3OTRmZWFjNWYxYTM5OGZhZGU0YTc2NGYzMjFiMmUyZTA3ZWZjYjNkYjM4MjA5OTNlOWJhNjY4ZjNiOSIsImlhdCI6MTc4MjQ5OTQyMSwibmJmIjoxNzgyNDk5NDIxLCJleHAiOjE4NDgyNjg4MDAsInN1YiI6IjE1NDM4MDc5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2NjIwMzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiMmY0ZTA2MWMtMDA3ZS00M2I2LTk1MTItYmVhNTA5NDdhNTEyIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.E97CmdCk5hEcHIxb2QgyCVBsxRpohFoHN3eqMUixGwSNqtHMG9QAcmee1C0KM-Wg5-ypXIxXeNzCY_zdMpOKH759lq5VvkeL6v07NMy0KPQgNJk2RogF3vGylgkCzLPNkTISPu9ezV7HL5p8l5Bu_DGEJqaz-y-Hqj0bs5e7lYo9Db5NWN_lb1HZv8E_S6U9IaQpuYD5CQLqkylIFZ5H3njzhnzss3fQs7hDPr8Ig2hsWmdzpIvpmYdlcaA03YlSWQuJT7dWV34tND-cKR6e04Czvia8CPgCz14LZu8KSZRUGcMXDrYEyIKMCxSfl_AytxOLvTKakGz07KtRJqXiTg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "rawBody",
        "rawContentType": "application/json",
        "body": "={{ $json.kommoPayload }}",
        "options": {}
      },
      "id": "node-http-001",
      "name": "Cria Lead no Kommo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst leadId = response?._embedded?.leads?.[0]?.id;\n\nif (!leadId) {\n  throw new Error('Lead ID nao encontrado: ' + JSON.stringify(response));\n}\n\nconst nota = $('Formata Payload Kommo').first().json.nota;\nconst ref = $('Formata Payload Kommo').first().json.ref;\n\nconst notePayload = JSON.stringify([\n  {\n    entity_id: leadId,\n    note_type: 'common',\n    params: { text: nota }\n  }\n]);\n\nreturn [{ json: { leadId, notePayload, ref } }];"
      },
      "id": "node-code-002",
      "name": "Prepara Nota",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://titaniumconsultoriaofc.kommo.com/api/v4/leads/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImMwOWEwZGYwODgzNTk5YjMwZGZmZTc5NGZlYWM1ZjFhMzk4ZmFkZTRhNzY0ZjMyMWIyZTJlMDdlZmNiM2RiMzgyMDk5M2U5YmE2NjhmM2I5In0.eyJhdWQiOiI4N2RmNTIzZC00Y2E5LTQyNWEtODBlMS05YzllNzQ0MjgxMzUiLCJqdGkiOiJjMDlhMGRmMDg4MzU5OWIzMGRmZmU3OTRmZWFjNWYxYTM5OGZhZGU0YTc2NGYzMjFiMmUyZTA3ZWZjYjNkYjM4MjA5OTNlOWJhNjY4ZjNiOSIsImlhdCI6MTc4MjQ5OTQyMSwibmJmIjoxNzgyNDk5NDIxLCJleHAiOjE4NDgyNjg4MDAsInN1YiI6IjE1NDM4MDc5IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM2NjIwMzg3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiMmY0ZTA2MWMtMDA3ZS00M2I2LTk1MTItYmVhNTA5NDdhNTEyIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.E97CmdCk5hEcHIxb2QgyCVBsxRpohFoHN3eqMUixGwSNqtHMG9QAcmee1C0KM-Wg5-ypXIxXeNzCY_zdMpOKH759lq5VvkeL6v07NMy0KPQgNJk2RogF3vGylgkCzLPNkTISPu9ezV7HL5p8l5Bu_DGEJqaz-y-Hqj0bs5e7lYo9Db5NWN_lb1HZv8E_S6U9IaQpuYD5CQLqkylIFZ5H3njzhnzss3fQs7hDPr8Ig2hsWmdzpIvpmYdlcaA03YlSWQuJT7dWV34tND-cKR6e04Czvia8CPgCz14LZu8KSZRUGcMXDrYEyIKMCxSfl_AytxOLvTKakGz07KtRJqXiTg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "rawBody",
        "rawContentType": "application/json",
        "body": "={{ $json.notePayload }}",
        "options": {}
      },
      "id": "node-http-002",
      "name": "Adiciona Nota no Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', lead_id: $('Prepara Nota').first().json.leadId, ref: $('Prepara Nota').first().json.ref }) }}",
        "options": {}
      },
      "id": "node-resp-ok",
      "name": "Resposta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"error\", \"message\": \"Falha ao criar lead no Kommo\" }",
        "options": { "responseCode": 500 }
      },
      "id": "node-resp-err",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 500]
    }
  ],
  "connections": {
    "Webhook Recebe Lead": {
      "main": [[{ "node": "Formata Payload Kommo", "type": "main", "index": 0 }]]
    },
    "Formata Payload Kommo": {
      "main": [[{ "node": "Cria Lead no Kommo", "type": "main", "index": 0 }]]
    },
    "Cria Lead no Kommo": {
      "main": [
        [{ "node": "Prepara Nota", "type": "main", "index": 0 }],
        [{ "node": "Resposta Erro", "type": "main", "index": 0 }]
      ]
    },
    "Prepara Nota": {
      "main": [[{ "node": "Adiciona Nota no Lead", "type": "main", "index": 0 }]]
    },
    "Adiciona Nota no Lead": {
      "main": [[{ "node": "Resposta OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["titanium", "kommo", "leads"],
  "triggerCount": 1,
  "versionId": "titanium-lead-kommo-v3"
}
