documentos/kommo_webhook_workflow.json
{
  "name": "Titanium - Kommo Webhook Receiver",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kommo-titanium",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Kommo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "kommo-titanium-webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 140]
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados do payload do Kommo\nconst body = $input.first().json.body || $input.first().json;\n\n// Pega o lead (update ou add)\nconst leadRaw = body?.leads?.update?.[0] || body?.leads?.add?.[0] || {};\nconst contactRaw = body?.contacts?.update?.[0] || body?.contacts?.add?.[0] || {};\n\n// Helpers para extrair custom fields pelo code\nfunction getField(fields, code) {\n  const f = (fields || []).find(f => f.field_code === code || f.field_name === code);\n  return f?.values?.[0]?.value || f?.values?.[0]?.enum_value || '';\n}\n\nconst leadFields = leadRaw.custom_fields_values || [];\nconst contactFields = contactRaw.custom_fields_values || [];\n\n// Monta objeto limpo com todos os campos TIT_\nconst lead = {\n  // Identificação\n  lead_id: leadRaw.id || '',\n  lead_name: leadRaw.name || '',\n  contact_name: contactRaw.name || '',\n  status_id: leadRaw.status_id || '',\n  pipeline_id: leadRaw.pipeline_id || '',\n  created_at: leadRaw.created_at ? new Date(leadRaw.created_at * 1000).toISOString() : new Date().toISOString(),\n\n  // Campos de contato\n  email: (contactRaw.custom_fields_values || []).find(f => f.field_type === 'email')?.values?.[0]?.value || '',\n  phone: (contactRaw.custom_fields_values || []).find(f => f.field_type === 'phone')?.values?.[0]?.value || '',\n\n  // Campos TIT_ do lead\n  TIT_LP_ORIGEM: getField(leadFields, 'TIT_LP_ORIGEM'),\n  TIT_CANAL_ENTRADA: getField(leadFields, 'TIT_CANAL_ENTRADA'),\n  TIT_FINALIDADE: getField(leadFields, 'TIT_FINALIDADE'),\n  TIT_VALOR_PRETENDIDO: getField(leadFields, 'TIT_VALOR_PRETENDIDO'),\n  TIT_URGENCIA: getField(leadFields, 'TIT_URGENCIA'),\n  TIT_ENTRADA_DISPONIVEL: getField(leadFields, 'TIT_ENTRADA_DISPONIVEL'),\n  TIT_STATUS_CPF_CNPJ: getField(leadFields, 'TIT_STATUS_CPF_CNPJ'),\n  TIT_TEMPERATURA: getField(leadFields, 'TIT_TEMPERATURA'),\n  TIT_SCORE_BOT: getField(leadFields, 'TIT_SCORE_BOT'),\n  TIT_DIA_CADENCIA: getField(leadFields, 'TIT_DIA_CADENCIA'),\n\n  // Tags (se vierem no payload)\n  tags: (leadRaw.tags || []).map(t => t.name).join(', '),\n\n  // Horário do processamento\n  processado_em: new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })\n};\n\nreturn { json: lead };"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Extrair Dados do Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.TIT_TEMPERATURA }}",
                    "rightValue": "Quente",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quente"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.TIT_TEMPERATURA }}",
                    "rightValue": "Morno",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Morno"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.TIT_TEMPERATURA }}",
                    "rightValue": "Frio",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Frio"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Classificar Temperatura",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 380]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "SEU_GOOGLE_SHEET_ID_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads_Quente", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Sheets - Lead Quente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [940, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "SEU_GOOGLE_SHEET_ID_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads_Morno", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Sheets - Lead Morno",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [940, 380]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "SEU_GOOGLE_SHEET_ID_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads_Frio", "mode": "name" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Sheets - Lead Frio",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [940, 560]
    }
  ],
  "connections": {
    "Webhook Kommo": {
      "main": [
        [
          { "node": "Responder OK", "type": "main", "index": 0 },
          { "node": "Extrair Dados do Lead", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extrair Dados do Lead": {
      "main": [
        [
          { "node": "Classificar Temperatura", "type": "main", "index": 0 }
        ]
      ]
    },
    "Classificar Temperatura": {
      "main": [
        [{ "node": "Sheets - Lead Quente", "type": "main", "index": 0 }],
        [{ "node": "Sheets - Lead Morno", "type": "main", "index": 0 }],
        [{ "node": "Sheets - Lead Frio", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Titanium" },
    { "name": "Kommo" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
